<mat-list *ngIf="commits" role="list">
  <mat-list-item *ngFor="let c of commits | async" role="listitem">
    Author: {{ c.commit.author.name }}
    <br/>
    Message: {{ c.commit.message }}
  </mat-list-item>
</mat-list>
