<mat-list *ngIf="repository | async as repo" role="list">
  <mat-list-item role="listitem">Name: {{repo.name}}</mat-list-item>
  <mat-list-item role="listitem">Full name: {{repo.full_name}}</mat-list-item>
  <mat-list-item role="listitem">Created at: {{repo.created_at | date}}</mat-list-item>
</mat-list>
