:host {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

mat-list-item {
  color: #bfbfbf;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  &:hover {
    color: white;
    background: #575757;
  }
  span {
    margin-right: auto;
  }
  button {
    margin-left: 10px;
  }
}