<app-form></app-form>

<mat-list *ngIf="repositories" role="list">
  <mat-list-item *ngFor="let r of repositories | async" role="listitem">
    <span>{{ r.name }}</span>
    <button mat-raised-button [routerLink]="'details/'+r.owner.login+'/'+r.name">
      Details
    </button>
    <button mat-raised-button [routerLink]="'commits/'+r.owner.login+'/'+r.name" color="primary">
      Commits
    </button>
  </mat-list-item>
</mat-list>
