<form [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Search in github</mat-label>
    <input matInput placeholder="Search in github" formControlName="q" (keyup)="setText()">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Per page</mat-label>
    <mat-select formControlName="size" (selectionChange)="setSize()">
      <mat-option *ngFor="let size of sizes" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>